
<!-- ******CONTACT****** --> 
<section id="localized" class="localized section">
    <div class="container">
        <div class="text-center">
            <ul class="localized-icons list-inline">
                <li> <a href="/en"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/en.png') }}"  alt="English" /></a></li>
                <li> <a href="/fr"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/fr.png') }}"  alt="Français" /></a></li>
                <li> <a href="/de"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/de.png') }}"  alt="Deutsch" /></a></li>
                <li> <a href="/pt"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/pt.png') }}"  alt="Português" /></a></li>
                <li> <a href="/it"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/it.png') }}"  alt="Italiano" /></a></li>
                <li> <a href="/es"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/es.png') }}"  alt="Español" /></a></li>
                <li> <a href="/zh"><img style="max-width: 80px" src="{{ asset('bundles/skaphandrusoceanlifeid/images/flags/zh.png') }}"  alt="繁體中文" /></a></li>
            </ul>
            <p>Ocean Life ID is fully localized in English, French, German, Italian and Spanish.</p>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->  