
<!-- ******HOW****** --> 
<section id="how" class="how section has-pattern">

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <h2 class="title text-center">{% trans %}Screenshots{% endtrans %}</h2>
                <br/>
                <br/>



                <ul class="bxslider">
                    <li>
                        <img src="{{ asset('bundles/skaphandrusoceanlifeid/images/iphone/iphone-slide-01_'~language~'.png') }}"  alt="taxonomic groups" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/skaphandrusoceanlifeid/images/iphone/iphone-slide-02_'~language~'.png') }}"  alt="cetacea color criterias" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/skaphandrusoceanlifeid/images/iphone/iphone-slide-03_'~language~'.png') }}"  alt="cetacea morphological color criterias" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/skaphandrusoceanlifeid/images/iphone/iphone-slide-04_'~language~'.png') }}"  alt="cetacea morphological criterias" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/skaphandrusoceanlifeid/images/iphone/iphone-slide-05_'~language~'.png') }}"  alt="species detail" />
                    </li>



                </ul>
            </div>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//how-->





